<!DOCTYPE html>
<html>
<head>
	<title>TODO App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="menu" id="myMenu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/create">New TODO</a></li>
			<li><a href="/all">List All</a></li>
			<li><a href="/">About</a></li>
			<li class="icon">
			    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
			</li>
		</ul>
	</div>
	<h1>Welcome to my TODO App</h1>
</body>
</html>
